
  .typography{
    color: #A569BD;
  }
  .signin {
    text-align: center;
    a{
        color: #A569BD;
    }
  }
 .signin :hover{
    color:#6C3483
 }
  .signin a:hover {
    text-decoration: underline #6C3483;
  }
 .label{
  display: flex;
 }
 .link{
  width: 200px;
  margin-top: 15px;
  margin-left: 4px;
 }