.login{
    width: 100%;
    height: 85.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247,247,247);
}
.loginimg{
    width: 800px;
    height: 85.7vh;}
.login form{
    width: 400px;
    height: 440px;
    background: linear-gradient(90deg, rgb(250, 110, 129) 0%, rgba(255,185,95) 100%); 

    padding: 12px 25px;
    padding-bottom: 10px;
    border-radius: 15px;
    border: 0.5px solid rgb(239, 238, 238);

}
.loginPage{
    display: flex;
    flex-direction: row;
}

.forgot{
background-color: rgb(109, 157, 233);
color: white;
border-radius: 5px;
width: 140px;
height: 32px;
transform: translate(105px,10px);
cursor: pointer;
padding: 4.3px;

}

.login_heading_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    transform: translateY(2px);
    color: rgb(81, 79, 79);
  }

.login_heading{
    text-align: center;
    padding: 5px 0;
    display: inline-block;
    color: rgb(109, 157, 233);
    font-size: 30px; 
    margin-top: 20px;
   }

.login .input_filed{
    margin-bottom: 15px;
    font-size: 15px;
}

.login .input_filed label{
    display: block;
    margin-bottom: 15px;
    font: 400;
}
.signupP{
    margin-top: 25px;
}
.login .input_filed input{
    padding: 10px 10px;
    border-radius: 5px;
    width: 100%;
    border:2px solid transparent;
    outline: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    transition: .2s ease;
}

.login .input_filed input:focus{
    color: rgb(24, 24, 23);}

.login_button_container{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.login_button_container button{
    padding: 7px 30px;
    font-size: 16px;
    background-color: none;
    font-weight: 600;
    color: white;
    border: none;
    background-color: rgb(109, 157, 233);
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.429);
}
.login_button_container button:hover{
    color: rgb(255,64,89);  }

.bottom_form{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
.bottom-signup {
    font-size: 14px;
}


@media screen and (min-width: 320px) and (max-width: 768px){

     .loginimg{
        display: none;
     }
    .login form{
        width: 300px;
        height: 400px;
        background: linear-gradient(90deg, rgb(250, 110, 129) 0%, rgba(255,185,95) 100%); 
        padding: 12px 25px;
        padding-bottom: 10px;
        border-radius: 15px;
        border: 0.5px solid rgb(239, 238, 238);

    }
    .login{
        background-color:white

    }
    .signupP {
        margin-top: 16px;
    }
    .forgot {
        background-color: rgb(109, 157, 233);
        color: white;
        border-radius: 5px;
        width: 140px;
        height: 32px;
        transform: translate(55px,10px);
        cursor: pointer;
        padding: 4.3px;
    }
}
@media screen and (min-width: 516px) and (max-width: 768px){

    .forgot {
        background-color: rgb(109, 157, 233);
        color: white;
        border-radius: 5px;
        width: 140px;
        height: 32px;
        transform: translate(55px,6px);
        cursor: pointer;
        padding: 4.3px;
    }
    .righttt {
        display: flex;
        flex-direction: row;
        margin-left: -150px;
        margin-top: 63px;
    }
}

@media screen and (min-width: 618px) and (max-width: 768px){

    .forgot {
        background-color: rgb(109, 157, 233);
        color: white;
        border-radius: 5px;
        width: 140px;
        height: 32px;
        transform: translate(55px,6px);
        cursor: pointer;
        padding: 4.3px;
    }
    .righttt {
        display: flex;
        flex-direction: row;
        margin-left: -150px;
        margin-top: 40px;
    }
}

@media screen and (min-width: 778px) and (max-width: 1278px){
    .loginPage {
        display: flex;
        flex-direction: row;
        margin-top: -3px;
    }
    .signupP {
        margin-top: 12px;
      }
      .forgot {
        background-color: rgb(109, 157, 233);
        color: white;
        border-radius: 5px;
        width: 140px;
        height: 32px;
        transform: translate(105px,4px);
        cursor: pointer;
        padding: 4.3px;
      }
}


@media screen and (min-width: 768px) and (max-width: 1279px){

    .login form{
        width: 400px;
        height: 400px;
        background: linear-gradient(90deg, rgb(250, 110, 129) 0%, rgba(255,185,95) 100%); 
        padding: 12px 25px;
        padding-bottom: 10px;
        border-radius: 15px;
        border: 0.5px solid rgb(239, 238, 238);
        

    }

}
