
.home{
  /* width: 98vw;
  height: 91.5vh;
  margin: 0;
  padding: 10px 200px;
  box-sizing: border-box; */
  width: 100%;
  height: 101.5vh;
  margin: 0;
  padding: 10px 200px;
  box-sizing: border-box;
  background-color: white ;
}

.home_wrapper{
  display: flex;
  justify-content: center;
}

.home_wrapper .leftHome{
display: flex;
flex-wrap: wrap;
  flex: 7;
  height: auto;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  margin-top: 30px;

  transform: translateX(-147px);
}

.home_wrapper .leftHome::-webkit-scrollbar {
  width: 5px;
}

.home_wrapper .leftHome::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px; 
  border-radius: 10px;

}
 
.home_wrapper .leftHome::-webkit-scrollbar-thumb {
  background:  #e2e1e1; 
  border-radius: 10px;

}



/* .home_wrapper .leftHome::-webkit-scrollbar-thumb:hover {
  background-color: #dddcdc;
} */

.home_wrapper .rightHome{
  flex: 2;
  margin-left: 10px;
}

.categories_wrapper span{
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 1px solid rgba(70, 161, 194, 0.103);
  background-color: #f3f2ee;
  margin-bottom: 2px;
  transition: all .1s ease;
}

.categories_wrapper span:hover{
  background-color: rgba(251, 245, 245, 0.238);
  transform: scale(1.08);
  margin-left: 4px;
  color: #A569BD
  ;
}
.filter{
  color: rgb(70, 70, 70);
  font-size: 15px
}

.catogory_heading{
  text-align: center;
  font-size: 22px;
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.238);
}

.posts_not_found{
font-size: 40px;
font-weight: 500;
margin-top: 100px;
text-align: center;
padding: 10px 50px;
color: #A569BD;
transform: translateX(-23px);
}

.slider {
width: 100%;
height: 950px;
overflow: hidden;

}

figure {
position: relative;
left: 0;
width: 200%; /* Change width to 200% (two slides) */
animation: 10s slide infinite;
}

.slide {
position: relative;
width: 50%; /* Change width to 50% (half of the slide) */
float: left;
}

.slide-text {
position: absolute;
top: 50%; /* textin ve butonun dikey ortalaması */
left: 60px; /* textin ve butonun sol kenardan uzaklığı */
transform: translateY(-50%); /* dikey ortalamayı ayarlamak için */
color: rgb(66, 64, 64); /* text ve buton rengi */
z-index: 1; /* resmin üzerinde olması için z-index'i artırın */
}
h1{
font-size: 50px;
font-weight: bold;
}
.slidebtn {
color: white; /* Butonun metin rengi */
transform: translateY(29px);
}

.slide img {
width: 100%;
height: 700px;
}

@keyframes slide {
0% {
  left: 0;
}
25% {
  left: 0;
}
50% {
  left: -100%; /* Slide 1 moves out */
}
75% {
  left: -100%; /* Slide 2 moves out */
}
100% {
  left: 0; /* Animation completes, back to the first slide */
}
}

.about{
display: flex;
height: 200px;
justify-content: center;
align-items: center;
transform: translateY(-100px);
color: rgb(66, 64, 64);
}
.about-section{
display: flex;
justify-content: center;
align-items: center;
width: 1300px;
flex-direction: row;
padding: 20px 50px 0px 50px;
font-size: 20px;

}
.delivery{
padding-right: 60px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.return-policy{
padding-right: 60px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.support{
padding-right: 60px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.secure-payment{
padding-right: 60px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
h3{
line-height: 40px;
}
.freeshipping{
font-size: 15px;
}
.icon{
width: 40px;
height: 40px;
color: black;
}

.separator {
border-top: 1px solid #d3d0d0; /* Üstten çizgi oluşturma */
width: 80px;
rotate: 90deg;
transform: translateY(40px);
}
.h2 h2{
  transform: translateX(70px);
  color: rgb(66, 64, 64);
  font-size: 29px;
  width: 300px,
}

.overview{
transform: translateX(70px);
display: flex;
flex-direction: row;
margin-top: 30px;
font-size: 20px;
width: 598px;
}
.gender_item{
padding-right: 60px;
cursor: pointer;
color: #A569BD;
}
.gender_item:hover{
text-decoration: underline; /* Linkin üzerine gelindiğinde altçizgiyi gösterir */
color: #803a9b;
}
.overview_link{
margin-right: 80px;
color: rgb(66, 64, 64);
text-decoration: none; /* Altçizgiyi gizler */

}

.overview_link:hover {
text-decoration: underline; /* Linkin üzerine gelindiğinde altçizgiyi gösterir */
}

.filterbtn{
width: 180px;
height: 30px;
background-color: white;
border: 1px solid rgb(209, 207, 207);
color: rgb(70, 70, 70);
cursor: pointer;
}
.filter{
  color: rgb(70, 70, 70);
   font-size: 15px
}

@media screen and (min-width: 320px) and (max-width: 768px){

  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    flex-direction: column;
    padding: 10px 20px 0px 70px;
    font-size: 13px;
    margin-top: -80px;
}
.about{
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  transform: translateY(-100px);
  color: rgb(66, 64, 64);
  }
.overview {
  transform: translateX(0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  font-size: 13px;
  width: 18px;
}
.gender_item {
  /* padding-right: 60px; */
  cursor: pointer;
  color: #A569BD;
  margin-left: 14px;
  padding-bottom: 7px;
  font-size: 12px;
  width: 130px;
}
h1{
  font-size: 20px;
  font-weight: bold;
  }
  .slide-text {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgb(66, 64, 64);
    z-index: 1;
}
.slide img {
  width: 100%;
  height: 305px;
}
.slider {
  width: 100%;
  height: 572px;
  overflow: hidden;
}
.home {
  width: 100%;
  height: 101.5vh;
  margin: 0;
  padding: 9px 13px;
  box-sizing: border-box;
  background-color: white;
}
.home_wrapper .leftHome {
  display: flex;
  flex-wrap: wrap;
  flex: 7 1;
  height: auto;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  margin-top: 30px;
  transform: translateX(4px);
}
.h2 h2{
  transform: translateX(15px);
  color: rgb(66, 64, 64);
  font-size: 20px;
  font-size: 15px;
  width: 120px;
}
.filterbtn{
  width: 90px;
  height: 20px;
  background-color: white;
  border: 0.5px solid rgb(226, 226, 226);
  color: rgb(70, 70, 70);
  cursor: pointer;
  transform: translateX(15px)  }
  .filter{
    color: rgb(70, 70, 70);
     font-size: 10px
  }

  .icon{
    transform: translateY(7px);
  }
  h3{
    line-height: 35px;
    }
    .separator {
     display: none;
      }
}
