.shop  .home_wrapper .leftHome{
  display: flex;
  flex-wrap: wrap;
    flex: 7;
    height: 90vh;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    transform: translateX(-187px);
}
.popular-products{
font-size: 26px;
transform: translate(50px,90px);
margin-top: 90px;
width: 350px;
color: rgb(139, 44, 160);
}
@media screen and (min-width: 320px) and (max-width: 768px){

.shop .home_wrapper .leftHome {
  display: flex;
  flex-wrap: wrap;
  flex: 7 1;
  height: 90vh;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  transform: translateX(2px);
}

}
